@import '../../../styles/main.scss';


body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  color: #fff;
  background: #000 url('https://www.redeye.se/assets/new_assets/images/auth0/bg.jpg') no-repeat center top fixed / cover;
}
