@import 'libs/reset.scss';
@import '../../../styles/main.scss';


$color-black:          #2A2A2A;
$color-grey--dark:     #4A4A4A;
$color-grey:           #646464;
$color-grey--light:    #999999;
$color-grey--lighter:  #D8D8D8;
$color-grey--lightest: #E5E5E5;
$color-white:          #FFF;
$color-rdey:           #FC6F77;

$ff-primary:           "Libre Franklin", sans-serif;
$ff-secondary:         "Rokkitt", serif;
$ff-tertiary:          "Oswald", sans-serif;


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



// -----------------------------------------------------------------------------
// MODAL


.auth0-lock.auth0-lock.auth0-lock {

  // submit button

  .auth0-lock-submit {
    span svg.icon-text {
      margin: -4px 0 0 5px;
    }
  }


  // header

  .auth0-lock-header.modified {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 0;

    + span .auth0-global-message {
      margin-top: 2rem;
    }
  }


  // auth0 badge

  .auth0-lock-badge-bottom {
    display: none;
  }
}



// -----------------------------------------------------------------------------
// PAGE


body {
  font-family: $ff-primary;
  font-weight: 400;
  color: $color-white;
  background: $color-black url('/img/bg.jpg') no-repeat center top fixed / cover;
}

.main {
  @include clearfix;
  width: 100%;
  max-width: 960px;
  padding: 0 40px;
  margin: 80px auto;

  @media (max-width: 900px) {
    margin-top: 40px;
  }

  &__logo {
    padding-bottom: 80px;

    @media (max-width: 900px) {
      text-align: center;
      padding-bottom: 40px;
    }

    img {
      width: 200px;
      height: 50px;
    }
  }

  &__intro {
    width: calc(100% - 300px);
    float: left;
    padding-right: 40px;

    @media (max-width: 900px) {
      width: 100%;
      text-align: center;
      float: none;
      padding-right: 0;
    }

    h1 {
      max-width: 500px;
      font-family: $ff-secondary;
      font-size: 80px;
      font-weight: 200;
      text-transform: uppercase;
      line-height: .75;

      @media (max-width: 900px) {
        max-width: 700px;
        font-size: 70px;
        margin: 0 auto;
      }
    }

    p {
      max-width: 400px;
      font-family: $ff-tertiary;
      font-size: 26px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.05;

      @media (max-width: 900px) {
        max-width: 340px;
        font-size: 22px;
        margin: 10px auto 0;
      }
    }
  }

  &__widget {
    width: 300px;
    float: right;

    @media (max-width: 900px) {
      float: none;
      margin: 40px auto 0;
    }
  }
}
