@import 'libs/reset.scss';
@import 'libs/em-rem-calc.scss';
@import '../../../styles/main.scss';


$color-black:          #2A2A2A;
$color-grey--dark:     #4A4A4A;
$color-grey:           #646464;
$color-grey--light:    #999999;
$color-grey--lighter:  #D8D8D8;
$color-grey--lightest: #E5E5E5;
$color-white:          #FFF;
$color-rdey:           #FC6F77;
$color-rdey--dark:     darken($color-rdey, 10%);

$ff-primary:           "Libre Franklin", sans-serif;
$ff-secondary:         "Rokkitt", serif;
$ff-tertiary:          "Oswald", sans-serif;


%ff-primary {
  font-family: $ff-primary;
  font-weight: 400;
}
%ff-secondary {
  font-family: $ff-secondary;
  font-weight: 200;
}
%ff-tertiary {
  font-family: $ff-tertiary;
  font-weight: 400;
}


@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}



// -----------------------------------------------------------------------------
// MODAL


.auth0-lock.auth0-lock.auth0-lock {

  // width

  &.auth0-lock-opened-in-frame,
  .auth0-lock-widget {
    width: 100%;

  }


  // submit button

  .auth0-lock-submit {
    span svg.icon-text {
      margin: -4px 0 0 5px;
    }
  }


  // header

  .auth0-lock-header.modified {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 0;

    + span .auth0-global-message {
      margin-top: 2rem;
    }
  }


  // auth0 badge

  .auth0-lock-badge-bottom {
    display: none;
  }
}



// -----------------------------------------------------------------------------
// PAGE


body {
  @extend %ff-primary;
  color: $color-white;
  background: $color-black url('https://www.redeye.se/assets/new_assets/images/auth0/bg.jpg') no-repeat center top fixed / cover;
  padding: rem(0 40);

  @media (max-width: em(568)) {
    padding-left: rem(10);
    padding-right: rem(10);
  }
}


// main

.main {
  @include clearfix;
  width: 100%;
  max-width: rem(900);
  margin: rem(80 auto);

  @media (max-width: em(900)) {
    margin-top: rem(40);
  }

  &__logo {
    padding-bottom: rem(80);

    @media (max-width: em(900)) {
      text-align: center;
      padding-bottom: rem(40);
    }
    @media (max-width: em(568)) {
      padding-bottom: rem(20);
    }

    img {
      width: rem(200);
      height: rem(50);

      @media (max-width: em(568)) {
        width: rem(150);
        height: rem(40);
      }
    }
  }

  &__intro {
    width: calc(100% - #{rem(300)});
    float: left;
    padding-right: rem(40);

    @media (max-width: em(900)) {
      width: 100%;
      text-align: center;
      float: none;
      padding-right: 0;
    }

    h1 {
      @extend %ff-secondary;
      max-width: rem(500);
      font-size: rem(80);
      text-transform: uppercase;
      line-height: .75;

      @media (max-width: em(900)) {
        max-width: rem(660);
        font-size: rem(65);
        margin: 0 auto;
      }
      @media (max-width: em(568)) {
        max-width: rem(300);
        font-size: rem(40);
      }
    }

    p {
      @extend %ff-tertiary;
      max-width: rem(400);
      font-size: rem(26);
      text-transform: uppercase;
      line-height: 1.05;

      @media (max-width: em(900)) {
        max-width: rem(340);
        font-size: rem(22);
        margin: rem(10 auto 0);
      }
      @media (max-width: em(568)) {
        max-width: rem(300);
        font-size: rem(16);
      }
    }
  }

  &__widget {
    width: rem(300);
    float: right;

    @media (max-width: em(900)) {
      float: none;
      margin: rem(40 auto 0);
    }
  }
}


// footer

.footer {
  @include clearfix;
  width: 100%;
  max-width: rem(1154);
  font-size: rem(12);
  color: $color-grey--lighter;
  margin: rem(0 auto 80);

  @media (max-width: em(568)) {
    display: none;
  }

  &__col {
    @include clearfix;
    border-top: 1px solid rgba(255, 255, 255, .15);

    @media (min-width: em(901)) {
      width: calc(25% - #{rem(15)});
      float: left;
      margin: rem(0 10);

      &:first-child { margin-left: 0; }
      &:last-child  { margin-right: 0; }
    }

    @media (max-width: em(900)) and (min-width: em(569)) {
      width: calc(50% - #{rem(10)});
      float: left;

      &:nth-child(odd)  { clear: left; margin-right: rem(20); }
      &:nth-child(n+3)  { margin-top: rem(20); }
    }

    // @media (max-width: em(568)) {
    //   &:not(:first-child) { margin-top: rem(20); }
    // }
  }

    h6, ul {
      margin-top: rem(20);
    }

    h6 {
      @extend %ff-tertiary;
      width: 30%;
      text-transform: uppercase;
      float: left;
      padding-right: rem(10);
    }

    ul {
      width: 70%;
      float: left;
      line-height: 1.5;
    }
      a {
        color: currentColor;

        &:hover  { color: $color-rdey; }
        &:active { color: $color-rdey--dark; }
      }
}
